<div class="post-cell">
    <i class="fa fa-user avatarIcon"></i>
    <p></p>
    Name: {{ user.username }}
    <p></p>
    Posts: {{ user.posts|length + user.threads|length}}
    <p></p>
    <a href=" {{ path('create_conversation', {'id':user.id}) }}">Send Message</a>
</div>